<!--{subtemplate common/header}-->

<style>#update_tip_box{position: absolute;top:10px;right:10px;transition:opacity 2s;opacity:0;}</style>
<aside id="update_tip_box">
	<p id="update_tip">Here is update tips.</p>
</aside>
 
<h1 class="email-content-title">$paperinfo[name]</h1>
<p class="email-content-subtitle">
	From <a href="home.php?mod=space&uid=$paperinfo[authorid]&do=profile">$paperinfo[author]</a> created at <span>$paperinfo[createtimetext]</span>
</p>
<!--{loop $qslist $question}-->
<form class="pure-form pure-form-stacked" action="plugin.php?id=tsdmquestionnaire:tsdmquestionnaire&action=submitanswer" method="post" onsubmit="ajax_submit_this(this);return false;">
	<input type="hidden" name="formhash" value="$_G[formhash]" />
	<input type="hidden" name="handlekey" value="recv_miku" />
	<input type="hidden" name="paperid" value="$paperid" />
	<input type="hidden" name="questid" value="$question[questid]" />
	<div class="box">
		<label for="choices">No.$question[order] $question[content]</label>
		<!--{if ($question[type] == 1)}-->
			<!--{loop $question[optarr] $optindex $optcontent}-->
				<input type="radio" name="choices" value="$optindex" <!--{if $myansindex[$question[questid]]==$optindex}-->checked<!--{/if}-->/><span>$optcontent</span><br />
			<!--{/loop}-->		
		<!--{elseif ($question[type] == 0)}-->
			<input type="text" name="optcontent" col="40" value="$myanstextindex[$question[questid]]" autocomplete="off"/>
			<input type="hidden" name="choices" value="0" />
		<!--{/if}-->
		<!-- <label for="tsdmquestionnaire_submit_$question[questid]">Temp</label> -->
		<button type="submit" class="pure-button pure-button-primary" name="tsdmquestionnaire_submit_$question[questid]">Update Answer</button>
	</div>
</form>
<!--{/loop}-->
 
 <script>
function ajax_submit_this(form){
	ajax({
	url: 'plugin.php?id=tsdmquestionnaire:tsdmquestionnaire&action=submitanswer',
	type: 'POST',
	data: serialize(form),
	dataType: 'string',
	success: function (response, xml) {
	var tstgrs = JSON.parse(response);
	if(tstgrs.status == 0) {
		console.log('done');
		tip_show(5000, 'post updated...');
	}else{
		console.log('gg');
		tip_show(5000, 'error when post... ,message is: ' + tstgrs.message);
	}
	},
	fail: function (status) {
		console.log('oops. submit failed. status is: ' + status);
	}
	});
}

function tip_show(mytimeout, message){
	msgel1 = document.getElementById('update_tip');
	msgel1.innerHTML = message;
	el1 = document.getElementById('update_tip_box');
	el1.style.opacity = 1;
	setTimeout(function(){
		msgel2 = document.getElementById('update_tip');
		msgel2.innerHTML = "";
		el2 = document.getElementById('update_tip_box');
		el2.style.opacity = 1;
	}, mytimeout);
}
 </script>
 
 <!--{subtemplate common/footer}-->